.block-guidelines {
	//font-size: 1rem;
	line-height: 1.4;

	h1 {
		//font-size: 1.5rem;
		margin-top: 1rem;
	}

	h2 {
		//font-size: 1.2rem;
		margin-top: 2rem;
	}

	a {
		border-bottom: 1px solid #167ac6;
		color: #167ac6;
	}

	ul {
		margin-top: 0;
	}

	li {
		margin-top: 0;
	}

	p,
	ul {
		& + p {
			margin-top: 2rem;
		}
	}
}