name: Caron
subtitle: over wat logisch is
thumbnail: /static/images/caron.png
video: //www.youtube.com/embed/zmWk12CRW8A?enablejsapi=1&amp;rel=0&amp;hl=nl

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}

<section class="mini-page block-guidelines">
	<h1 class="h2">Logisch is niet altijd logisch</h1>
	<div>
		<p>
			Caron helpt graag anderen. Maar hij kan zelf niet altijd vinden wat hij zoekt online. Hij legt uit waarom.
		</p>
	</div>

</section>

{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
