name: Eva
subtitle: over ondertiteling
thumbnail: /static/images/eva.png
video: //www.youtube.com/embed/byB63hvHbuE?enablejsapi=1&amp;rel=0&amp;hl=nl

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}

<section class="mini-page block-guidelines">
	<h1 class="h2">De noodzaak van ondertiteling</h1>
	<div>
		<p>
			Eva is communicatie adviseur. Zij weet dus hoe je een boodschap kunt overbrengen. Ze heeft een advies over het maken van videos.
		</p>
	</div>

</section>

{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
