name: Niels
subtitle: over eenvoud
thumbnail: /static/images/niels.jpg
video: //www.youtube.com/embed/dDg9FUbB694?enablejsapi=1&amp;rel=0&amp;hl=nl

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <p>Niels is een vier wiel aangedreven entrepeneur. Deze video is slechts een kelien deel van zijn verhaal waarin hij uitlegt waarom het belangrijk is dat jouw ontwerp ontdaan is van alles wat niets te maken heeft met de belangrijkste taken.</p>
    </div>
  </div>
</div>
{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
