name: Niels
subtitle: over eenvoud
thumbnail: /static/images/niels.jpg
video: //www.youtube.com/embed/dDg9FUbB694?enablejsapi=1&amp;rel=0&amp;hl=nl

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <p>Niels is een vier wiel aangedreven entrepeneur. Deze video is een deel van zijn verhaal waarin hij uitlegt waarom het belangrijk is dat jouw ontwerp ontdaan is van alles wat niets te maken heeft met de belangrijkste taken.</p>
    </div>
  </div>
</div>

<section class="mini-page block-guidelines">
  <h1 class="h2">Hoe kan jij {{ name }} helpen?</h1>

  <h2 class="section-title">Voor ontwerpers &amp; ontwikkelaars</h2>
  <div class="guideline">
    <div class="text">
      <p>
        <strong>Verwijder afleiding, behoudt alleen wat er écht nodig is.</strong>
        Mensen zoals Niels zijn erg snel afgeleid door visuele afleiding op een website of in een app. Je kunt die persoon helpen om gefocused te blijven op het doel door afleiding te verwijderen uit je ontwerp. Afleiding kan teveel geclusterde informatie, teveel keuzes in informatie of flitsende/plotseling verschijnende content die je aandacht wil.
      </p>
      <ul>
        <li><a href="http://thenextweb.com/dd/2015/03/08/how-to-reduce-friction-with-good-design">Verwijder afleiding in je ontwerp met deze stappen</a></li>
      </ul>
    </div>
    <div class="image seek-video">
      <figure>
        <img src="/static/images/screenshots/arend-simplicity@400w.jpg"
           srcset="/static/images/screenshots/arend-simplicity@400w.jpg 400w, /static/images/screenshots/arend-simplicity@800w.jpg"
           alt="Video screenshot van een voorbeeld van contrast" />
        <figcaption>1:43</figcaption>
      </figure>
    </div>
  </div>
</section>

{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
