name: Tim
subtitle: over kleur
thumbnail: /static/images/tim.jpg
video: //www.youtube.com/embed/eIulUKIRco4?enablejsapi=1&amp;rel=0&amp;hl=nl

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<!--div class="mini-page">
	<div class="cols cols-variable">
	  <div class="col">
	    <h2>Video 1</h2>
	    <iframe width="300" height="200" src="https://www.youtube.com/embed/eIulUKIRco4" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="col">
	    <h2>Video 2</h2>
	    <iframe width="300" height="200" src="https://www.youtube.com/embed/eIulUKIRco4" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="col">
	    <h2>[Title]</h2>
	    <p>[Text]</p>
	  </div>
	</div>
</div-->
{% endblock sub-content %}

{% endfilter %}
{% endblock body %}