{% extends "base.html" %}
{% block content %}

<div class="mini-page wide dark scrollable-x">
  <ul class="cols cols-fixed no-hover">
			{% for post in postsEN %}
			<li class="col text-center person">
	      <a href="/{{ post.path }}">
	        <img class="round" alt="" src="{{ post.thumbnail }}" />
	        <div class="compact">
	          <h2 class="h3">{{ post.name }}</h2>
	          <p>{{ post.subtitle }}</p>
	        </div>
	      </a>
	    </li>
			{% endfor %}

  </ul>
</div>
<div class="mini-page double-white-space">
  <div class="cols">
    <div class="col readable">
      <p></p>
      <h2>What is Accessibility?</h2>
      <p>If you don’t know who your are users then it's difficult to design or develop for them. Accessibility is about people, your users. Empat.io shows who they are and what you can do to help them. By letting them tell you what does and what doesn’t work for them in web and app. <br />The videos are in dutch and have english captions</p>
    </div>
  </div>
  <!--div class="cols cols-variable">
    <div class="col">
      <h2>Share your story</h2>
      <p>We're always looking for people who can help us enrich the stories on Empat.io. Have something to share? Want to tell your story? Then contact Johan Huikman at johan@q42.nl or @huikman.</p>
    </div>
    <div class="col">
      <h2>More Empatio</h2>
      <p>So maybe you're convinced, but what do you do about your colleagues or your organization? Is empathy the whole answer? The Empat.io blog tackles these tough questions and more.</p>
    </div>
  </div-->
</div>

{% endblock content %}
