{% extends "base.html" %}

{% block site-header %}
  <header class="mini-page site-header">
    <div class="cols cols-auto">
      <a href="/index-nl.html" class="col no-hover">
        <img class="site-logo" alt="Empatio" src="{% static '/images/logo-empatio.png' %}" />
      </a>

      <nav class="col">
        <ul class="cols cols-auto">
          <li class="col"><a href="http://blog.empat.io">Blog</a></li>
          <li class="col"><a href="/over.html">Over Empatio</a></li>
          <li class="col"><a href="/">English</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endblock site-header %}

{% block content %}

<div class="mini-page wide dark scrollable-x">
  <ul class="cols cols-fixed no-hover">
			{% for post in postsNL %}
			<li class="col text-center person">
	      <a href="/{{ post.path }}">
	        <img class="round" alt="" src="{{ post.thumbnail }}" />
	        <div class="compact">
	          <h2>{{ post.name }}</h2>
	          <p>{{ post.subtitle }}</p>
	        </div>
	      </a>
	    </li>
			{% endfor %}

  </ul>
</div>
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <h2>Over toegankelijkheid</h2>
      <p>Wat is toegankelijkheid? Eigenlijk is het gewoon gebruiksvriendelijkheid. Het is mensen van A naar B helpen op de meest vriendelijke en efficiente manier. Om dat te bereiken moet je weten wie jouw gebruikers zijn. Zij hebben allemaal verschillende behoeftes en voorkeuren. Hier zijn een paar verhalen om je op weg te helpen.</p>
    </div>
  </div>
  <!--div class="cols cols-variable">
    <div class="col">
      <h2>Share your story</h2>
      <p>We're always looking for people who can help us enrich the stories on Empat.io. Have something to share? Want to tell your story? Then contact Johan Huikman at johan@q42.nl or @huikman.</p>
    </div>
    <div class="col">
      <h2>More Empatio</h2>
      <p>So maybe you're convinced, but what do you do about your colleagues or your organization? Is empathy the whole answer? The Empat.io blog tackles these tough questions and more.</p>
    </div>
  </div-->
</div>
	
{% endblock content %}