{% extends "base.html" %}
{% block content %}

<div class="mini-page wide dark scrollable-x">
  <ul class="cols cols-fixed no-hover">
			{% for post in postsEN %}
			<li class="col text-center person">
	      <a href="/{{ post.path }}">
	        <img class="round" alt="" src="{{ post.thumbnail }}" />
	        <div class="compact">
	          <h2 class="h3">{{ post.name }}</h2>
	          <p>{{ post.subtitle }}</p>
	        </div>
	      </a>
	    </li>
			{% endfor %}

  </ul>
</div>
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <h2>About people</h2>
      <p>What is Accessibility? Simply put it is Usability. It is helping people from A to B in the most efficient and friendly way. And to do so you need to know who these people are. It al starts with understanding who your users are. And all users have different needs. Here are some stories about people to get you going. <br />The videos are in dutch and have english captions</p>
    </div>
  </div>
  <div class="cols one-thing">
    <div class="col">
      <h1>One simple thing</h1>
      <p>If there's one thing you want to do today to make it easier for Arend, Niels or Tim to use your website or app then let that one thing be...</p>
      <ul>
        <li>
          <img alt="" src="/static/images/tim.jpg" />
          <h3>for Tim</h3>
          <p>Check if your colors have enough distinction between them with Lea Verou's <a href="http://leaverou.github.io/contrast-ratio/">contrast ratio checker</a></p>
        </li>
        <li>
          <img alt="" src="/static/images/niels.jpg" />
          <h3>for Niels</h3>
          <p>Do that one thing ...</p>
        </li>
        <li>
          <img alt="" src="/static/images/arend.jpg" />
          <h3>for Arend</h3>
          <p>Check if your site can be accessed with a keyboard. Check if the buttons in your app have got proper labels</p>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
