{% extends "base.html" %}
{% block content %}
  
<section id="wrapper">
	<h1 class="center">About People</h1>
	<p class="center"><strong>Gaining a better understanding of your users by seeing and hearing them explain how they are using your products</strong></p>
  <p class="center">What is it like to live with a handicap? What is it like to be hindered when using an app or website? To answer these questions I have started creating short movies about people. These are the first stories.<br />The videos are in dutch and have english captions</p> 

  <h2 class="center">About Accessibility</h2>
  <p class="center">These videos were created mainly out of discontent with the way accessibility is being addressed in web-projects. Most of the time it is seen as a technical issue that has to be solved with technical solutions. But that is only part of the story. When I started testing with real people, with real handicaps, it became all too clear that only understanding the technical part just isn't enough. It is also about usability and a thorough understanding of the needs of your users.</p> 

  <h3 class="center">Inspiration</h3>
  <p class="center">Empat.io has only just begun. It needs much more videos and lots of helpful information. Therefore I need help. I need people who want to tell their story so I can show it here. And I want to know what you think. All thoughts and suggestions are welcome. Please let me know at: <a href="mailto:johan@q42.nl">johan@q42.nl</a> or <a href="http://twitter.com/huijkman">@huijkman</a></p> 

  <h4 class="center">Created by</h4>
  <p class="center">Empat.io is an idea of <a href="http://twitter.com/huijkman">Johan Huijkman</a>, an Interaction Engineer at <a href="http://q42.com">Q42</a>. A big thank you for the people who help making it real: <a href="http://twitter.com/afkatja">Katja Hollaar</a> for her camera work, <a href="http://twitter.com/tacoe">Taco Ekkel</a> for lending his camera gear and <a href="http://twitter.com/rahul">Rahul Choudhury</a> for his ever lasting support. Jeroen Hulscher...</p> 
</section>

{% endblock content%}
