{% extends "base.html" %}

{% block site-header %}
  <header class="mini-page site-header">
    <div class="cols cols-auto">
      <a href="/nl" class="col no-hover">
        <img class="site-logo" alt="Empatio" src="{% static '/images/logo-empatio.png' %}" />
      </a>

      <nav class="col">
        <ul class="cols cols-auto">
          <li class="col"><a href="/over">Over Empatio</a></li>
          <li class="col"><a href="/">English</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endblock site-header %}

{% block content %}

<div class="mini-page wide dark scrollable-x">
  <ul class="cols cols-fixed no-hover">
			{% for post in postsNL %}
			<li class="col text-center person">
	      <a href="/{{ post.path }}">
	        <img class="round" alt="" src="{{ post.thumbnail }}" />
	        <div class="compact">
	          <h2>{{ post.name }}</h2>
	          <p>{{ post.subtitle }}</p>
	        </div>
	      </a>
	    </li>
			{% endfor %}

  </ul>
</div>
<div class="mini-page double-white-space">
  <div class="cols">
    <div class="col readable">
      <h2>Wat is toegankelijkheid?</h2>
      <p>Als je jouw gebruikers niet kent dan is het lastig iets voor ze te ontwerpen en bouwen. Toegankelijkheid gaat over mensen, jouw gebruikers. Empat.io laat zien wie zij zijn en wat je kunt doen om ze te helpen. Door ze te laten vertellen wat wel en wat niet voor ze werkt op het web en in een app.</p>
    </div>
  </div>
</div>
<div class="mini-page wide dark">
  <div class="video-container">
    <!--div class="content"-->
      <iframe width="100%" height="100%" src="//www.youtube.com/embed/xCn_Nu-yhXo?enablejsapi=1&amp;rel=0&amp;hl=nl" frameborder="0" allowfullscreen id="player"></iframe>
    <!--/div-->
    <!--p class="text-center">Standard video controls not working for you? Open alternative controls</p-->
  </div>
</div>

{% endblock content %}
