{% extends "base.html" %}

{% block site-header %}
  <header class="mini-page site-header">
    <div class="cols cols-auto">
      <div class="col">
        <img class="site-logo" alt="Empatio" src="{% static '/images/logo-empatio.png' %}" />
      </div>

      <nav class="col">
        <ul class="cols cols-auto">
          <li class="col"><a href="/index-nl.html">Home</a></li>
          <li class="col"><a href="http://blog.empat.io">Blog</a></li>
          <li class="col"><a href="/over.html">Over Empatio</a></li>
          <li class="col"><a href="/">English</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endblock site-header %}

{% block content %}

<div class="mini-page wide dark scrollable-x">
  <ul class="cols cols-fixed">
			{% for post in postsNL %}
			<li class="col text-center">
	      <a href="/{{ post.path }}">
	        <img class="round" alt="" src="{{ post.thumbnail }}" />
	        <div class="compact">
	          <h2>{{ post.name }}</h2>
	          <p>{{ post.subtitle }}</p>
	        </div>
	      </a>
	    </li>
			{% endfor %}

  </ul>
</div>
<div class="mini-page">
  <ul class="cols cols-variable">
    <li class="col">
      <h2>About people</h2>
      <p>[Text]</p>
    </li>
    <li class="col">
      <h2>Share your story</h2>
      <p>We're always looking for people who can help us enrich the stories on Empat.io. Have something to share? Want to tell your story? Then contact Johan Huikman at johan@q42.nl or @huikman.</p>
    </li>
    <li class="col">
      <h2>More Empatio</h2>
      <p>So maybe you're convinced, but what do you do about your colleagues or your organization? Is empathy the whole answer? The Empat.io blog tackles these tough questions and more.</p>
    </li>
  </ul>
</div>

{% block footer %}
	<div class="mini-page">
		<footer>Footer</footer>
	</div>
{% endblock footer %}
	
{% endblock content %}