name: Arend
subtitle: on text
thumbnail: /static/images/arend.jpg
video: //www.youtube.com/embed/EM64_7LtlZo?enablejsapi=1&amp;rel=0&amp;hl=en&amp;cc_lang_pref=en&amp;cc_load_policy=1

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<!--div class="mini-page">
  <div class="cols cols-variable">
    <div class="col">
      <h2>Video 1</h2>
      <iframe width="300" height="200" src="https://www.youtube.com/embed/eIulUKIRco4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <h2>Video 2</h2>
      <iframe width="300" height="200" src="https://www.youtube.com/embed/eIulUKIRco4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <h2>[Title]</h2>
      <p>[Text]</p>
    </div>
  </div>
</div-->

<section class="mini-page block-guidelines">
  <h1 class="h2">How you can you help {{ name }}?</h1>


  <h2 class="h3">For developers</h2>
  <p>
    <strong>Test with a screenreader.</strong> If you're working on a Mac you already got one pre-installed. All you have to do is fire it up.
  </p>
  <ul>
    <li><a href="http://www.youtube.com/watch?v=a3_Cz-gmscE">Using Voice over on a Mac</a> - A brief introduction</li>
    <li><a href="http://www.applevis.com/guides/accessories/getting-started-your-mac-using-voiceover">Getting started with your Mac using VoiceOver</a> - An extensive description of how to use voice-over to control your mac</li>
  </ul>
</section>

<section class="mini-page block-guidelines">
  <h1 class="h2">Want to know more about color blindness?</h1>
  <ul>
    <li><a href="http://wearecolorblind.com/article/a-quick-introduction-to-color-blindness/">A quick introduction about color blindness</a></li>
    <li><a href="http://wearecolorblind.com/examples">10 good an bad examples of color-usage on websites</a></li>
  </ul>
</section>

{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
