name: Caron
subtitle: on the obvious
thumbnail: /static/images/caron.png
video: //www.youtube.com/embed/zmWk12CRW8A?enablejsapi=1&amp;rel=0&amp;hl=en&amp;cc_lang_pref=en&amp;cc_load_policy=1

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}

<section class="mini-page block-guidelines">
	<h1 class="h2">The obvious is not always obvious</h1>
	<div>
		<p>
			Caron is very helpful towards others. But online he is not always able to find what het is looking for. He explains why.
		</p>
	</div>

</section>

{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
