name: Niels
subtitle: on simplicity
thumbnail: /static/images/niels.jpg
video: //www.youtube.com/embed/jmqdmQoSnm8?enablejsapi=1&amp;rel=0&amp;hl=en&amp;cc_lang_pref=en&amp;cc_load_policy=1

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <p>Niels is a four wheel driven entrepeneur. In this video he explains why it is important to remove anything from your designs that has nothing to do with the task at hand.</p>
    </div>
  </div>
</div>
{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
