name: Niels
subtitle: on simplicity
thumbnail: /static/images/niels.jpg
video: //www.youtube.com/embed/dDg9FUbB694?enablejsapi=1&amp;rel=0&amp;hl=en&amp;cc_lang_pref=en&amp;cc_load_policy=1

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <p>Currently I'm working on the story of Niels, a four wheel driven entrepeneur. This is just a preview but stay tuned for his full story.</p>
    </div>
  </div>
</div>
{% endblock sub-content %}

{% endfilter %}
{% endblock body %}