name: Niels
subtitle: on simplicity
thumbnail: /static/images/niels.jpg
video: //www.youtube.com/embed/dDg9FUbB694?enablejsapi=1&amp;rel=0&amp;hl=en&amp;cc_lang_pref=en&amp;cc_load_policy=1

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<div class="mini-page">
  <div class="cols">
    <div class="col readable">
      <p>Niels is a four wheel driven entrepeneur. This video is just part of his story where he explains why it is important to remove anything from your designs that has nothing to do with the task at hand.</p>
    </div>
  </div>
</div>

<section class="mini-page block-guidelines">
  <h1 class="h2">How can you help {{ name }}?</h1>

  <h2 class="section-title">For designers &amp; developers</h2>
  <div class="guideline">
    <div class="text">
      <p>
        <strong>Remove distraction, keep the essential.</strong>
        People like Niels are distracted very easily by impulses on a website or app. By removing distraction from your design you can help that person to focus on their task. Distraction can be cluttered information, too much choices of information and blinking/popping content that want your attention.
      </p>
      <ul>
        <li><a href="http://thenextweb.com/dd/2015/03/08/how-to-reduce-friction-with-good-design">Steps for reducing friction in your design</a></li>
      </ul>
    </div>
    <div class="image seek-video">
      <figure>
        <img src="/static/images/screenshots/arend-simplicity@400w.jpg"
           srcset="/static/images/screenshots/arend-simplicity@400w.jpg 400w, /static/images/screenshots/arend-simplicity@800w.jpg"
           alt="Video screenshot of an example of contrast" />
        <figcaption>1:43</figcaption>
      </figure>
    </div>
  </div>
</section>


{% endblock sub-content %}

{% endfilter %}
{% endblock body %}
