name: Tim
subtitle: on color
thumbnail: /static/images/tim.jpg
video: //www.youtube.com/embed/eIulUKIRco4?enablejsapi=1&amp;rel=0&amp;hl=en&amp;cc_lang_pref=en&amp;cc_load_policy=1

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% block sub-content %}
<!--div class="mini-page">
	<div class="cols cols-variable">
	  <div class="col">
	    <h2>Video 1</h2>
	    <iframe width="300" height="200" src="https://www.youtube.com/embed/eIulUKIRco4" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="col">
	    <h2>Video 2</h2>
	    <iframe width="300" height="200" src="https://www.youtube.com/embed/eIulUKIRco4" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="col">
	    <h2>[Title]</h2>
	    <p>[Text]</p>
	  </div>
	</div>
</div-->

<section class="mini-page block-guidelines">
	<h1 class="h2">How you can you help {{ name }}?</h1>

	<h2 class="h3">For designers</h2>
	<p>
		<strong>Create contrast.</strong> When using multiple colors, make sure there is enough contrast between them. The color contrast ratio is a good indication to determine contrast.
	</p>
	<ul>
		<li><a href="http://leaverou.github.io/contrast-ratio/">Check the color contrast ratio between two colors</a></li>
		<li><a href="https://medium.com/sketch-app-sources/how-to-design-in-sketch-for-color-blind-users-2b189c0d58fe">How to design (in Sketch, Photoshop and Web) for color blind users</a></li>
	</ul>

	<p>
		<strong>Differentiate clustered elements not only on color.</strong> For example graphs or error messages can highly depend on color usage.
		Make sure colors are not the only way of distinction between different pieces of information.
	</p>

	<h2 class="h3">For developers</h2>
	<p>
		<strong>Test on color contrast.</strong> Make sure your website/app keeps on having a good contrast.
	</p>
	<ul>
		<li>Test the color contrast on your website with <a href="http://khan.github.io/tota11y/">Tota11ly</a></li>
		<li><a href="http://www.tomsguide.com/us/color-blind-mode-android-5.0,news-20475.html">Test your Android-app through the eyes of a person with colorblindness</a></li>
	</ul>
</section>

<section class="mini-page block-guidelines">
	<h1 class="h2">Want to know more about color blindness?</h1>
	<ul>
		<li><a href="http://wearecolorblind.com/article/a-quick-introduction-to-color-blindness/">A quick introduction about color blindness</a></li>
		<li><a href="http://wearecolorblind.com/examples">10 good an bad examples of color-usage on websites</a></li>
	</ul>
</section>

{% endblock sub-content %}

{% endfilter %}
{% endblock body %}