<!doctype html>
<html class="no-js" lang="">
	<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block header %}
		<title>{% block title %}Empat.io{% endblock %}</title>
		{% endblock header %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static '/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

		<link rel="stylesheet" href="{% static '/css/style.css' %}">
  </head>

<body>

  {% block site-header %}
	<header class="mini-page site-header">
    <div class="cols cols-auto">
      <a href="/" class="col no-hover">
        <img class="site-logo" alt="Empatio" src="{% static '/images/logo-empatio.png' %}" />
      </a>

      <nav class="col">
        <ul class="cols cols-auto">
          <li class="col"><a href="/about">About Empatio</a></li>
          <li class="col"><a href="/nl">Nederlands</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endblock site-header %}

	{% block content %}
		Main content
	{% endblock content %}


{% block footer %}
{% endblock footer %}

	{% block scripts %}
	<script src="//code.jquery.com/jquery.min.js"></script>
	{% endblock scripts%}
</body>
</html>
