<!doctype html>
<html class="no-js" lang="">
	<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block header %}
		<title>{% block title %}Empat.io{% endblock %}</title>
		{% endblock header %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static '/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

		<link rel="stylesheet" href="{% static '/css/style.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
  </head>

<body>

  {% block site-header %}
	<header class="mini-page site-header">
    <div class="cols cols-auto">
      <div class="col">
        <img class="site-logo" alt="Empatio" src="{% static '/images/logo-empatio.png' %}" />
      </div>

      <nav class="col">
        <ul class="cols cols-auto">
          <li class="col"><a href="/">Home</a></li>
          <li class="col"><a href="http://blog.empat.io">Blog</a></li>
          <li class="col"><a href="/about.html">About Empatio</a></li>
          <li class="col"><a href="/index-nl.html">Nederlands</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endblock site-header %}

	{% block content %}
		Main content
	{% endblock content %}

	<div class="mini-page">
      <footer>
      </footer>
  </div>

	{% block scripts %}
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	{% endblock scripts%}
</body>
</html>
