<!doctype html>
<html class="no-js" lang="">

	<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Merriweather+Sans:800,800italic' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block header %}
		<title>{% block title %}Empat.io{% endblock %}</title>
		{% endblock header %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static '/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

		<link rel="stylesheet" href="{% static '/css/style.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
  </head>
	<body>

		<header class="mini-page site-header">
      <div class="cols cols-auto">
        <div class="col">
          <img class="site-logo" alt="Empatio" src="{% static '/images/logo1.png' %}" />
        </div>
        <nav class="col">
          <ul class="cols cols-auto">
            <li class="col"><a href="#">Home</a></li>
            <li class="col"><a href="#">Blog</a></li>
            <li class="col"><a href="#">About & Contact</a></li>
            <li class="col"><a href="#">Nederlands</a></li>
          </ul>
        </nav>
      </div>
    </header>

		{% block content %}{% endblock content %}

		<div class="mini-page">
        <footer>
        </footer>
    </div>

		{% block scripts %}
		<script src="//code.jquery.com/jquery.min.js"></script>
		<script src="{% static '/js/main.js' %}"></script>
		{% endblock scripts%}
	</body>
</html>
