{% extends "base.html" %}
{% block content %}

<header class="page-header mini-page dark">
  <nav class="cols cols-auto">
    <h1 class="col order-2">
      {% block person-current %}
        <img class="thumb round" alt="" src="{% static '/images/avatar.jpg' %}">
        Title
      {% endblock person-current %}
    </h1>
    <p class="col order-1">
      {% block person-prev %}
        <a class="h4" href="#"><span class="icon-chevron-left"></span> Previous</a>
      {% endblock person-prev %}
    </p>
    <p class="col order-3">
      {% block person-next %}
        <a class="h4" href="#">Next <span class="icon-chevron-right"></span></a>
      {% endblock person-next %} 
    </p>
</nav>
</header>

<div class="video-container">
  {% block main-video %}
    Video
  {% endblock main-video %}
  <p class="text-center">Standard video controls not working for you? Open alternative controls</p>
</div>

<div class="mini-page">
  {% block sub-content %}
    ...
  {% endblock sub-content %}
</div>

{% endblock content%}
