{% extends template %}

{% block title %}{{ name }}{% endblock title %}

{% block content %}

<header class="page-header mini-page dark">
  <nav class="cols cols-auto">
    <h1 class="col order-2">
        <img class="thumb round" alt="" src="{{ thumbnail }}">
        {{ name }} {{ subtitle }}
    </h1>
    <p class="col order-1">
      <a class="h4" href="/{{ prevPost.path }}"><span class="icon-chevron-left"></span> {{ prevPost.name }}</a>
    </p>
    <p class="col order-3">
      <a class="h4" href="/{{ nextPost.path }}">{{ nextPost.name }} <span class="icon-chevron-right"></span></a>
    </p>
</nav>
</header>

<div class="video-container">
  <iframe width="853" height="480" src="{{ video }}" frameborder="0" allowfullscreen></iframe>
  <p class="text-center">Standard video controls not working for you? Open alternative controls</p>
</div>

<div class="mini-page">
  {% block sub-content %}
    ...
  {% endblock sub-content %}
</div>

{% endblock content %}