{% extends template %}

{% block title %}{{ name }}{% endblock title %}

{% block content %}

<header class="page-header mini-page dark">
  <nav class="cols cols-auto no-hover">
    <h1 class="col order-2">
        <img class="thumb round" alt="" src="{{ thumbnail }}">
        <span class="name">{{ name }}</span> <span class="sub">{{ subtitle }}</span>
    </h1>
    <p class="col order-1">
      <a class="h4" href="/{{ prevPost.path }}"><span class="icon-chevron-left"></span>{{ prevPost.name }}</a>
    </p>
    <p class="col order-3">
      <a class="h4" href="/{{ nextPost.path }}">{{ nextPost.name }} <span class="icon-chevron-right"></span></a>
    </p>
</nav>
</header>

<div class="mini-page">
  <div class="video-container">
    <!--div class="content"-->
      <iframe width="100%" height="100%" src="{{ video }}" frameborder="0" allowfullscreen id="player"></iframe>
    <!--/div-->
    <!--p class="text-center">Standard video controls not working for you? Open alternative controls</p-->
  </div>
</div>

{% block sub-content %}
{% endblock sub-content %}

{% endblock content %}

{% block scripts %}
<script>

// This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {});
}

function seekMoment(t) {
  player.seekTo(t);
}

var els = document.querySelectorAll('.seek-video');
for (var i = 0; i < els.length; i++) {
  els[i].addEventListener('click', function(el) {
    var ms = this.querySelector('figcaption').innerHTML;
    var a = ms.split(':'); // split it at the colons

    // minutes are worth 60 seconds. Hours are worth 60 minutes.
    var seconds = (+a[0]) * 60 + (+a[1]);

    seekMoment(seconds);
    window.scrollTo(0,0);
  });
}

</script>
{% endblock scripts %}
